github.com/*
golang.org/*
gopkg.in
.idea
bin
pkg
*.iml
gotest
import.cmd
Would skip repository src/github.com/auth0/go-jwt-middleware
Would skip repository src/github.com/dgrijalva/jwt-go
Would skip repository src/github.com/diegogub/aranGO
Would skip repository src/github.com/diegogub/napping
Would skip repository src/github.com/glycerine/blake2b
Would skip repository src/github.com/glycerine/goconvey
Would skip repository src/github.com/glycerine/liner
Would skip repository src/github.com/glycerine/tmframe
Would skip repository src/github.com/glycerine/zebrapack
Would skip repository src/github.com/glycerine/zygomys
Would skip repository src/github.com/gorilla/context
Would skip repository src/github.com/gorilla/handlers
Would skip repository src/github.com/gorilla/mux
Would skip repository src/github.com/jtolds/gls
Would skip repository src/github.com/nats-io/go-nats
Would skip repository src/github.com/nats-io/nats
Would skip repository src/github.com/nats-io/nuid
Would skip repository src/github.com/philhofer/fwd
Would skip repository src/github.com/shurcooL/go
Would skip repository src/github.com/shurcooL/go-goon
Would skip repository src/github.com/tinylib/msgp
Would skip repository src/github.com/ugorji/go
*
