.login {
    margin: 0;
    padding: 30% 0 0 0;
}

.login_header {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.login_row {
    padding: 0 0 8px 0;
}

.login_row__align_center {
    text-align: center;
}

.login_input {
    width: 100px;
    outline: none;
    padding: 8px;
    margin: 0;
    border: 1px solid darkgray;
}

.login_input:focus {
    border: 1px solid orange;
}

.login_sign-in {
    cursor: pointer;
    width: 120px;
    outline: none;
    padding: 8px 0;
    margin: 0;
    border: 0;
}

.login_sign-in:hover {
    background-color: orange;
}
