<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="test.js"></script>
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function login () {
            var url = '/get-token?uname=' + encodeURIComponent(document.getElementsByName("user")[0].value) + "&upass=" + encodeURIComponent(document.getElementsByName("pwd")[0].value)
            fetch(url, {
                method: "get",
                headers: {
                    'Accept': 'application/json',
                    'Cache': 'no-cache'
                },
                credentials: "same-origin"
            }).then(function(response) {
                response.text().then (function (text) {
                    console.log (text)
                })
            })
        }

        function products () {
            var url = '/products'
            fetch(url, {
                method: "get",
                headers: {
                    'Accept': 'application/json'
                },
                credentials: "same-origin"
            }).then(function(response) {
                response.text().then (function (text) {
                    console.log (text)
                })
            })
        }
    </script>
</head>
<body>
    <h1>Hello world</h1>

    <input name="user"/>
    <input name="pwd" type="password"/>

    <br/>
    <input name="login" value="login" onclick="login()" type="submit"/>
    <br/>
    <input name="products" value="products" onclick="products()" type="submit"/>
</body>
</html>