<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
    <script>var isomorphicDir="/sc/runtime/";</script>
    <script src=/sc/runtime/system/development/ISC_Core.js></script>
    <script src=/sc/runtime/system/development/ISC_Foundation.js></script>
    <script src=/sc/runtime/system/development/ISC_Containers.js></script>
    <script src=/sc/runtime/system/development/ISC_Grids.js></script>
    <script src=/sc/runtime/system/development/ISC_Forms.js></script>
    <script src=/sc/runtime/system/development/ISC_DataBinding.js></script>
    <script src=/sc/runtime/skins/Graphite/load_skin.js></script>
</head>
<body>
    <script src="/sc/js/components.js"></script>
    <script src="/sc/js/techs.js"></script>
    <script src="/sc/js/prjds.js"></script>
    <script src="/sc/js/features.js"></script>
    <script src="/sc/js/mainView.js"></script>
</body>
</html>