<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проекты</title>
    <SCRIPT>var isomorphicDir="/sc/runtime/";</SCRIPT>
    <SCRIPT SRC=/sc/runtime/system/modules/ISC_Core.js></SCRIPT>
    <SCRIPT SRC=/sc/runtime/system/modules/ISC_Foundation.js></SCRIPT>
    <SCRIPT SRC=/sc/runtime/system/modules/ISC_Containers.js></SCRIPT>
    <SCRIPT SRC=/sc/runtime/system/modules/ISC_Grids.js></SCRIPT>
    <SCRIPT SRC=/sc/runtime/system/modules/ISC_Forms.js></SCRIPT>
    <SCRIPT SRC=/sc/runtime/system/modules/ISC_DataBinding.js></SCRIPT>
    <SCRIPT SRC=/sc/runtime/skins/Enterprise/load_skin.js></SCRIPT>
</head>
<body>

</body>
</html>